<br>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>Membuat Akun Baru</strong></h4>
            </div>
            <div class="panel-body">
                <select class="form-control" ng-options="w.id as w.name for w in workspaces" ng-model="account.workspaceId" ng-change="getAccount()">
                    <option value="">-- Pilih Sektor --</option>
                </select>
                <br/>
                <select class="form-control" ng-options="c.id as c.name for c in categories" ng-model="account.categoryId" ng-change="getAccount()">
                    <option value="">-- Pilih Katagori Akuntansi --</option>
                </select>
                <br>
                <input type="text" class="form-control" ng-model="account.number" placeholder="Account number">
                <br>
                <input type="text" class="form-control" ng-model="account.name" placeholder="Account name">
                <div class="row">
                    <br>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-block" ng-click="save()">Save</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger btn-block" ng-click="delete()">Delete</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning btn-block" ng-click="reset()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="height: 5px">
        <table class="table table-striped table-hover">
            <tr>
                <th>Nomor Akun</th>
                <th>Nama Akun</th>
            </tr>
            <tr ng-repeat="a in accounts" ng-click="select(a)">
                <td>{{a.number}}</td>
                <td>{{a.name}}</td>
            </tr>
        </table>
    </div>
</div>
