<br>
<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-success">
      	<div class="panel-heading">
        	<center><h4 class="panel-title"><strong>Ubah Password</strong></h4></center>
      	</div>
      	<div class="panel-body">
			<input type="text" class="form-control" ng-model="form.username" placeholder="Username" disabled>
			<br>
			<input type="password" class="form-control" ng-model="form.password" placeholder="New Password">
			<br/>
			<div>
				<button class="btn btn-primary btn-block" ng-click="changepass()">Ubah Password</button>
			</div>
      	</div>
    </div>
</div>