<center>
    <h3>Cari Pelanggan</h3>
</center>
<hr/>
<div class="col-md-3">
    <div class="btn-group pull-right">
        <button class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="f in ofield.fields">
                <a href="" ng-click="selectConfig(f.id)">{{f.label}} <i class="glyphicon glyphicon-ok pull-right" ng-if="isSelected(f.id)"></i></a>
            </li>
        </ul>
    </div>
    <br/>
    <form ng-submit="search()">
        <div ng-repeat="f in ofield.fields" ng-if=isSelected(f.id)>
            <div class="form-group" ng-if="f.type === 'text'">
                <label for="{{f.id}}">{{f.label}}</label>
                <input type="text" class="form-control" ng-model="query[f.id].value" id="{{f.id}}" placeholder="{{f.description}}">
            </div>
            <div ng-if="f.type === 'date'">
                <div class="form-group">
                    <label for="{{f.id}}">{{f.label}} <small>(start)</small></label>
                    <input type="date" class="form-control" ng-model="query[f.id].start" id="{{f.id}}" placeholder="{{f.description}}">
                </div>
                <div class="form-group">
                    <label for="{{f.id}}">{{f.label}} <small>(end)</small></label>
                    <input type="date" class="form-control" ng-model="query[f.id].end" id="{{f.id}}" placeholder="{{f.description}}">
                </div>
            </div>
            <div class="form-group" ng-if="f.type === 'option'">
                <label for="{{f.id}}">{{f.label}}</label>
				<select class="form-control" ng-model="query[f.id].value" ng-options="v.value as v.value for v in f.optionValues">{{v}}</select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            <i class="glyphicon glyphicon-search"></i> Cari
        </button>
    </form>
</div>
<div class="col-md-9">
    <table st-pipe="callServer" st-table="displayed" class="table table-hover highlight table-striped table-condensed">
        <thead>
            <tr>
                <th ng-repeat="f in fields" ng-if="f.onTable">{{f.label}}</th>
            </tr>
        </thead>
        <tbody ng-show="!isLoading">
            <tr ng-repeat="c in displayed" ng-click="detail(c.id)">
                <td ng-repeat="(key, value) in c" ng-if="onTable(key)">
                    {{normalize(key, value)}}
                </td>
            </tr>
        </tbody>
        <tbody ng-show="isLoading">
            <tr>
                <td colspan="4" class="text-center">Loading ... </td>
            </tr>
        </tbody>
        <tbody ng-show="isLoading" ng-if="displayed.length === 0">
            <tr>
                <td colspan="4" class="text-center"> Tidak ada data </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</div>
