<br>
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <center>
                <h4 class="panel-title"><strong>FORGOT PASSWORD</strong></h4></center>
        </div>
        <div class="panel-body">
            <input type="email" class="form-control" ng-model="form.email" placeholder="Email">
            <br>
            <span><small>Kami akan mengirimkan panduan untuk reset password melalui email yang Anda berikan.</small></span>
            <br/>
            <br/>
            <div>
                <button class="btn btn-warning btn-block" ng-click="reset()">Request Reset Password</button>
            </div>
        </div>
    </div>
</div>
