<div class="col-md-5">
    <h2>Jurnal Umum</h2>
    <div class="row">
        <div class="col-md-6">
            <label class="form-">Pilih Sektor</label>
            <select ng-model="workspaceId" class="form-control" ng-options="w.id as w.name for w in workspaces" ng-change="reload()">
                <option value="">-- Pilih Sektor --</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-">Pilih Bulan</label>
            <input type="month" class="form-control" ng-model="date" ng-change="reload()">
        </div>
    </div>
</div>
<hr>
<div class="col-md-12" ng-if="journals.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th colspan="2">Akun</th>
                <th>Ref</th>
                <th>Debit</th>
                <th>Kredit</th>
            </tr>
        </thead>
        <tbody ng-repeat="j in journals">
            <tr>
                <td rowspan="3">{{j.date | date:"dd MMM yyyy"}}</td>
                <td>{{j.debit.name}}</td>
                <td></td>
                <td>{{j.debit.number}}</td>
                <td>{{j.amount | number}}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td></td>
                <td>{{j.credit.name}}</td>
                <td>{{j.credit.number}}</td>
                <td></td>
                <td>{{j.amount | number}}</td>
            </tr>
            <tr>
                <td colspan="5"><small><strong>Ket: </strong>{{j.note}}</small></td>
            </tr>
        </tbody>
    </table>
</div>
